# Python Workshop

Importing different libraries allows us to access and use the functions stored inside them. These six lines are the most commonly used data science packages and settings, so it's good practice to include at the top of every notebook you open.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

## Section 1: Variables, types, and basic math operations
---
So far, we've added the following *operations* to our toolbox:
- `+` , `-` , `*` , `/` : Add, subtract, multiply, divide
- `=` : Assign variables
- `<`, `>`, `<=`, `>=`, `==`: Compare values
---

Given that we have the following sales values for 2016 and 2017:

<header><h4 align='center'>Sales</h4></header>
<table border="1" class="dataframe">
    <thead>
        <tr>
            <td><b>Year</b></td>
            <td><b>Product</b></td>
            <td><b>Revenue</b></td>
            <td><b>Cost</b></td>
        </tr>
    </thead>
    <tr>
        <td>2016</td>
        <td>Phone</td>
        <td>320000</td>
        <td>254000</td>
    </tr>
    <tr>
        <td>2016</td>
        <td>Laptop</td>
        <td>120000</td>
        <td>80000</td>
    </tr>
    <tr>
        <td>2017</td>
        <td>Phone</td>
        <td>465000</td>
        <td>362000</td>
    </tr>
    <tr>
        <td>2017</td>
        <td>Laptop</td>
        <td>105000</td>
        <td>67300</td>
    </tr>
</table>

**Task:** 
- Assign four variables to represent phone revenues and costs in 2016 and 2017, respectively.
- Use these four variables to create two new variables representing profit in 2016 and 2017, respectively.
- Use the two profit variables to calculate total combined profit in 2016 and 2017.

In [ ]:
# Phone revenues and costs in 2016 and 2017
revenue_2016 = ...
cost_2016 = ...
revenue_2017 = ...
cost_2017 = ...

print(revenue_2016, cost_2016, revenue_2017, cost_2017)

In [ ]:
# Profit in 2016 and 2017
profit_2016 = ...
profit_2017 = ...

print(profit_2016, profit_2017)

In [ ]:
# Combined total profit
total_profit = ...

total_profit

**Task:**
  - What were average monthly profit figures over 2016 and 2017, combined?
  - Our goal was to achieve $10,000 in average monthly profit over the last year. Did we achieve this? Format the answer as a boolean (`True` or `False`)

In [ ]:
# Monthly profit figures
monthly_profit = ...

monthly_profit

In [ ]:
# Success?
success = ...

success

## Section 2: Lists and loops
---
We now have additional tools in our toolbox:
- Lists allow us to store multiple values in one variable
- Loops allow us to operate on lists by *iterating* through each value in the list
---

Ideally, all of our raw datasets would be cleanly organized and formatted exactly to our needs. For example, if we were looking for data regarding annual revenue, cost, and profit, our table from Section 1 contains exactly the information that we want. However, not all data is this cleanly formatted and aggregated into rows; furthermore, this may not necessarily be in our best interest! (Why not?)

Instead, we might have more granular data in the form of monthly values:

<header><h4 align='center'>2016 Phone Sales</h4></header>
<table border="1" class="dataframe">
    <thead>
        <tr>
            <td><b>Year</b></td>
            <td><b>Month</b></td>
            <td><b>Revenue</b></td>
            <td><b>Cost</b></td>
        </tr>
    </thead>
    <tr>
        <td>2016</td>
        <td>1</td>
        <td>33000</td>
        <td>26800</td>
    </tr>
    <tr>
        <td>2016</td>
        <td>2</td>
        <td>24000</td>
        <td>19200</td>
    </tr>
    <tr>
        <td>2016</td>
        <td>3</td>
        <td>19000</td>
        <td>15900</td>
    </tr>
    <tr>
        <td>2016</td>
        <td>4</td>
        <td>20000</td>
        <td>16300</td>
    </tr>
    <tr>
        <td>2016</td>
        <td>5</td>
        <td>21000</td>
        <td>15000</td>
    </tr>
    <tr>
        <td>2016</td>
        <td>6</td>
        <td>23000</td>
        <td>18000</td>
    </tr>
    <tr>
        <td>2016</td>
        <td>7</td>
        <td>21000</td>
        <td>16700</td>
    </tr>
    <tr>
        <td>2016</td>
        <td>8</td>
        <td>26000</td>
        <td>21300</td>
    </tr>
    <tr>
        <td>2016</td>
        <td>9</td>
        <td>24000</td>
        <td>21000</td>
    </tr>
    <tr>
        <td>2016</td>
        <td>10</td>
        <td>28000</td>
        <td>23000</td>
    </tr>
    <tr>
        <td>2016</td>
        <td>11</td>
        <td>43000</td>
        <td>35700</td>
    </tr>
    <tr>
        <td>2016</td>
        <td>12</td>
        <td>38000</td>
        <td>30100</td>
    </tr>
</table>

Then the revenue and cost columns can be represented using two lists:

In [ ]:
monthly_revenue_2016 = [33000, 24000, 19000, 20000, 21000, 23000, 21000, 26000, 24000, 28000, 43000, 38000]
monthly_cost_2016 = [26800, 19200, 15900, 16300, 15000, 18000, 16700, 21300, 21000, 23000, 35700, 30100]

**Task:**
- For 2016 phone sales' monthly revenue and monthly cost, find each of the following:
  - Mean
  - Standard deviation ([`np.std`](https://docs.scipy.org/doc/numpy-dev/reference/generated/numpy.std.html))
  - 25, 50, 75th percentiles ([`np.percentile`](https://docs.scipy.org/doc/numpy-dev/reference/generated/numpy.percentile.html))

In [ ]:
# Mean
revenue_2016_mean = ...
cost_2016_mean = ...

print(revenue_2016_mean, cost_2016_mean)

In [ ]:
# Standard deviation
revenue_2016_std = ...
cost_2016_std = ...

print(revenue_2016_std, cost_2016_std)

In [ ]:
# 25, 50, 75th percentiles
revenue_2016_perc = ...
cost_2016_perc = ...

print(revenue_2016_perc, cost_2016_perc)

Before we complete the next task, observe the following two cells to observe the difference between the two:

In [ ]:
[1, 2, 3] + [1, 2, 3]

In [ ]:
np.add([1, 2, 3], [1, 2, 3])

We see that the `+` operator *concatenates* the two lists, whereas [`np.add`](https://docs.scipy.org/doc/numpy-dev/reference/generated/numpy.add.html) performs *element-wise* addition. Similarly, [`np.subtract`](https://docs.scipy.org/doc/numpy-dev/reference/generated/numpy.subtract.html) will perform *element-wise* subtraction.

**Task:**
- Use [`np.subtract`](https://docs.scipy.org/doc/numpy-dev/reference/generated/numpy.subtract.html) to calculate the profit for each month in 2016.

In [ ]:
# Monthly profit 2016
monthly_profit_2016 = ...

monthly_profit_2016

**Task:**
- (Challenging!) Use a loop to calculate the month-over-month raw change (in dollars, *not* percentages) for 2016 profits.
  - Hint: Since there are 12 months (`len(monthly_profit_2016)`), there are 11 values that we will want to calculate.

In [ ]:
# Month-over-month profit change
monthly_profit_change = []

for i in ...:
    ...
    monthly_profit_change.append(...)
    
monthly_profit_change

## Section 3: Using Pandas to Manipulate Data
---
New tools (assume `df` is a DataFrame, `colname` is the name of a column):
- [`pd.read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) to read CSV files
- `df.head()` to view the first 5 lines
- `df['colname']` to view a column as a `Series`
- `df[['colname1', 'colname2']]` to view multiple columns as a `DataFrame` 
- `df.loc[_____, _____]` to view certain rows and columns based on index names
- `df.iloc[_____, _____]` to view certain rows and columns based on numerical indices
---

Switching gears, we'll move to a real-life dataset of Kiva loans.

**Task:**
- Read in the Kiva dataset; let's call it `loans`.
- View the first five lines to get a grasp of what the data looks like

In [ ]:
# Read in dataset
loans = ...

In [ ]:
# View first five lines
...

**Task:**

It's always good practice to do two things once we first load a dataset:
- Use `.shape` to find the dimensions of the data
- Use `.isnull().sum()` to find how many values are missing from each column
    - (Optional) If you'd like to know how/why this works, check out the documentation for [`df.isnull()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.isnull.html) and [`df.sum()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sum.html), and try each separately on `loans`!

In [ ]:
# Dimensions of data
...

In [ ]:
# Number of missing values from each column
...

**Task:**

For these next two tasks, use only square brackets (not `.loc` or `.iloc`).
- Take a look at the `use` column by itself, as a `Series`
- Take a look at the `sector` and `use` columns together, as a `DataFrame`
    - Do you notice anything odd about the `sector` column?

In [ ]:
# 'use' column
...

In [ ]:
# 'sector' and 'use' columns
...

**Task:**

For these next three tasks, use only square brackets (not `.loc` or `.iloc`).
- View the rows that have a `sector` value of `Tranpotation`. 
    - What format is this?
- Replace the `Tranpotation` values with `Transportation`.
    - Are you seeing a warning? Why might this happen?
- Check `loans.head()`. Did we correctly replace the `Tranpotation` values?

In [ ]:
# View rows with the sector Tranpotation
...

In [ ]:
# Attempt to replace Tranpotation with Transportation using square brackets
...

In [ ]:
# Verify correct(?) replacement
...

**Task:**
- Using `.loc[_____, ______]`, replace the `Tranpotation` values with `Transportation`.
- Verify using `loans.head()`.

In [ ]:
# Replace Tranpotation with Transportation using .loc
...

In [ ]:
# Verify correct replacement
...

## Section 4: Working with Aggregate Data
---
More tools in our toolbox! Again, assume `df` is a DataFrame and `colname` is the name of a column.
- [`df.groupby(colname)`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html): Places each row of a DataFrame into a group based on certain column values
- `df.groupby(colname).function()` applies `function()` to each group. Possible functions include:
    - `count()`: number of non-NA rows in each group
    - `mean()`: mean of all values in each group
    - `std()`: standard deviation of all values in each group
    - `min()`: minimum of all values in each group
    - `max()`: maximum of all values in each group
    - `median()`: median of all values in each group
---

**Task:**
- Find the number of loans for each sector
- Find the average loan amount for each country

In [ ]:
# Number of loans for each sector
loans_by_sector = ...

loans_by_sector

In [ ]:
# Average loan amount for each country
average_loan_by_country = ...

average_loan_by_country

## Section 5: Graphing
---
Basic graphing tools:
- [`plt.plot(x, y)`](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.plot.html): Line graph
- [`plt.scatter(x, y)`](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.scatter.html): Scatter plot
- [`plt.bar(x, height)`](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.bar.html): Bar chart
- [`plt.hist(x)`](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.hist.html): Histogram
- [`plt.figure(figsize=(__, __))`](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.figure.html): Set figure size
- [`plt.xlabel(_____)`](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.xlabel.html), [`plt.ylabel(_____)`](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.xlabel.html): Set x-axis and y-axis labels
- [`plt.xlim(_____)`](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.xlim.html), [`plt.ylim(_____)`](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.ylim.html): Set x-axis and y-axis limits
- [`plt.title(_____)`](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.title.html): Set title
- [`plt.legend()`](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.legend.html): Show legend (assuming you have assigned labels; e.g. `plt.scatter(x, y, label='United States')`)
- Note that you can control almost any small detail on the graph! Color, line width/scatterpoint size, rotating axis tick-mark labels, etc. Chances are, someone else has had that question too! Use Google liberally.
---

**Task:**
- Create a scatterplot of `lender_count` versus `loan_amount`.
- Create a histogram of the `term_in_months` to view the distribution of loan terms.
- Using `loans_by_sector` (the grouped DataFrame created in the last section), create a bar plot of the number of loans in each sector. 
    - Tip: You can use `df.index` to access the index names.
    - Try looking [here](https://stackoverflow.com/questions/10998621/rotate-axis-text-in-python-matplotlib/23009503?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa) for tips on how to rotate tick labels. This was the third Google search result; the first two returned results for more specific scenarios, and the third was exactly what we needed!
    - Do we need to include an x-axis label for this chart? Why or why not?
- Create a histogram of `loan_amount` to view the distribution of loan amounts.
    - Interpret the graph; why did the plotting function set these x-limits?
    - How can we work around this?

In [ ]:
# Scatterplot, lender_count vs. loan_amount
plt.figure(figsize=(10, 7))
plt.scatter(...)
plt.xlabel('Funded Amount')
plt.ylabel('Loan Amount')
plt.title('Loan amount vs. Funded amount')

In [ ]:
# Histogram, distribution of loan terms
plt.figure(figsize=(10, 7))
plt.hist(...)
# Set an xlabel and a ylabel below!
...
...
plt.title('Distribution of loan term length')

In [ ]:
# Bar plot, number of loans in each sector
plt.figure(figsize=(10, 7))
# Try setting up the barplot below. (Not necessarily limited to one line of code)
...

In [ ]:
# Histogram, distribution of loan amount
plt.figure(figsize=(10, 7))
...

Why do we get the above result? We can check the numerical distribution of a column using [`df[colname].describe()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.describe.html).

In [ ]:
# Taking a look at the data:
...

Note that the max loan is 100000, while the 75th percentile is 1000. This is why Matplotlib has decided to extend out our x-limits so widely, to fit in that max data point! In order to avoid this, we should subset the loan amounts in which most of our data lies; 5000 seems like a reasonable estimate.

In [ ]:
# Histogram, distribution of loan amount (without outliers):
plt.figure(figsize=(10, 7))
...